<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="color: aquamarine">This is heading H1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: blue">This is heading H2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p style="color: blueviolet">This is paragraph</p>
        </div>
        <div class="col-md-6">
            <p style="color: blueviolet">This is different</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="background-color: blue">
            <p style="color: white">This is paragraph</p>
        </div>
        <div class="col-md-6" style="background-color: blueviolet">
            <p style="color: white">This is different</p>
        </div>
    </div>

</div>


</body>
</html>